# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment variable files
.env
.env.*

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# OS-generated
.DS_Store
Thumbs.db

/data/raw/